.container-fluid{
  background-color: rgb(230,230,230);
  max-width: 75%;
}

#chatContainer{
  display: none;
  position: absolute;
  margin-left: 450px;
}

#chatContainer #messages{
  width: 350px;
  height: 200px;
  background-color: rgb(230,230,230);
  overflow-y:auto;
}

#userContainer{
  width:350px;
  height: 200px;
  background-color: rgb(230,230,230);
}

#userContainer #usersBox{
  width:350px;
  height: 200px;
}

#gameContainer{
  position: absolute;
  width:420px;
  height:620px;
  border:none;
  background-color: rgb(235,235,235);      
}

.containerLinks{
  width: 250px;
  height: 100%;
}

.createRoomCustom{
  width: 250px;
}
.sendForm{
  width: 350px;
  margin-left: 15px;
}