#chatContainer{
  display: none;
  position: absolute;
  margin-left: 650px;
  height: 350px;
}

#chatContainer #messages{
  width: 350px;
  height: 200px;
  background-color: rgb(230,230,230);
  overflow-y:auto;
}

#userContainer{
  width:350px;
  height: 200px;
  background-color: rgb(230,230,230);
}

#userContainer #usersBox{
  width:350px;
  height: 200px;
}

#gameContainer{
  position: absolute;
  width:600px;
  height: 550px;
  background-color: rgb(120,120,120);      
}